img{
  width: 3.125rem;
}
nav ul li a ,.logOut{
  font-size: 1.25rem;
}

nav{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
li .borderColor
{
  border-color: rgba(153,25,38,1) !important;
  transition-duration: 0.5s;
}
li .borderColorEnd{
  border-color: rgba(153,25,38,1) !important;
  transition-duration: 0.5s;
}
@media only screen and (min-width: 992px) {
  li .borderColorEnd {
    border-color: rgb(0,32,91,1) !important;
  }
}
