/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,32,91,1) 30%, rgba(153,25,38,1) 100%);
overflow-x: hidden;

}
p,h1,h3,h4,h5,h6{
  font-family: "Lora", serif;
}
h2{
  font-family: "Gloria Hallelujah", cursive;
  background-image: url('./assets/horizontal-flash.jpg');
}
.form-control:focus{
  box-shadow: 0 5px 5px 0.25rem rgba(0,32,91,0.4) !important;
}

.ngx-pagination li :hover{
  background-color: rgb(0, 32, 91) !important;
}
.ngx-pagination .current{
  background-color: rgb(0, 32, 91) !important;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 32, 91);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(153, 25, 38);
  border-radius: 20px;
  border: 3px solid rgba(0, 32, 91, 0.5);
}
